# EDA 2: Nulos y valores extremos

In [9]:
#importamos las librer칤as
import pandas as pd
import numpy as np
import sidetable as sdt

pd.options.display.max_columns=None

In [10]:
#abrimos la BBDD

df = pd.read_csv('datos/Limpieza-1.csv')
df.head(3)

,case_number,year,type,country,activity,age,species,month,fatal,sex
0,2018.06.25,2018,Boating,usa,Paddling,57,White shark,Jun,N,F
1,2018.06.03.a,2018,Unprovoked,brazil,Swimming,18,Tiger shark,Jun,Y,M
2,2018.05.26.b,2018,Unprovoked,usa,Walking,15,"Bull shark, 6'",May,N,M

## Objetivos.

游늷 **Nota**:  

 Igual que siempre, no nos vale solo con picar el c칩digo, queremos que nos incluyais las conclusiones que extra칠is.

#### Usad la librer칤a sidetable para:

1. Explorad los valores nulos.

In [11]:
df.stb.missing()

             missing  total    percent
month            181   1672  10.825359
age              154   1672   9.210526
species          126   1672   7.535885
fatal             99   1672   5.921053
activity          31   1672   1.854067
sex               14   1672   0.837321
country           10   1672   0.598086
case_number        0   1672   0.000000
year               0   1672   0.000000
type               0   1672   0.000000

2. Explorad la columna de country y reportad los resultados solo para aquellas categor칤as que incluyan el 70% de los datos.

In [17]:
round(df.stb.freq(['country'], thresh=70, other_label='other countries'), 2)

           country  count  percent  cumulative_count  cumulative_percent
0              usa    741    44.58               741               44.58
1        australia    343    20.64              1084               65.22
2  other countries    578    34.78              1662              100.00

3. Explorad la columna country en relaci칩n al sexo, filtrando de nuevo por aquellas categor칤as que incluyan el 70% de los datos.

In [13]:
round(df.stb.freq(['country', 'sex'], thresh=70, other_label='other countries'), 2)

        country     sex  count  percent  cumulative_count  cumulative_percent
0           usa       M    609    36.91               609               36.91
1     australia       M    309    18.73               918               55.64
2  south africa       M    224    13.58              1142               69.21
3        others  others    508    30.79              1650              100.00

4. Haced los mismo para la columna activity en relaci칩n a la columna fatal. En este caso filtrad y mostrad los datos que incluyan el 60% de los datos.

In [14]:
#redondeamos para que no aparezcan tantos decimales y sea m치s legible
round(df.stb.freq(['activity', 'fatal'], thresh=60, other_label='other activities'), 2)

,activity,fatal,count,percent,cumulative_count,cumulative_percent
0,Surfing,N,380,24.53,380,24.53
1,Swimming,N,139,8.97,519,33.51
2,Spearfishing,N,85,5.49,604,38.99
3,Swimming,Y,79,5.10,683,44.09
4,Fishing,N,50,3.23,733,47.32
5,Wading,N,43,2.78,776,50.10
6,Standing,N,30,1.94,806,52.03
7,Snorkeling,N,29,1.87,835,53.91
8,Surfing,Y,26,1.68,861,55.58
9,Body boarding,N,24,1.55,885,57.13
10,Diving,N,19,1.23,904,58.36
11,Scuba diving,N,17,1.10,921,59.46
12,other activities,other activities,628,40.54,1549,100.00

5. Por 칰ltimo, realizad este an치lisis para la columna fecha (la que creamos en el 칰ltimo ejercicio de pair programming de Pandas) en relaci칩n a la columna fatal. Mostrad solo los resultados para las categor칤as que incluyan el 60% de los datos.

In [15]:
#redondeamos para que no aparezcan tantos decimales y sea m치s legible
#no tenemos la columna fecha, as칤 que utilizaremos month
round(df.stb.freq(['fatal', 'month'], thresh=60, other_label='other months'), 2)

,fatal,month,count,percent,cumulative_count,cumulative_percent
0,N,Oct,128,9.07,128,9.07
1,N,Aug,122,8.65,250,17.72
2,N,Sep,121,8.58,371,26.29
3,N,Jul,112,7.94,483,34.23
4,N,Jun,108,7.65,591,41.89
5,N,Apr,93,6.59,684,48.48
6,N,May,91,6.45,775,54.93
7,other months,other months,636,45.07,1411,100.00

## Conclusiones.

**En relaci칩n a los valores nulos**:

- Identificad las columnas que tienen nulos (lo hicimos en el ejercicio de pair programming EDA I y en el de hoy con el sidetable).

In [16]:
df.stb.missing()[df.stb.missing()['missing']>0]

          missing  total    percent
month         181   1672  10.825359
age           154   1672   9.210526
species       126   1672   7.535885
fatal          99   1672   5.921053
activity       31   1672   1.854067
sex            14   1672   0.837321
country        10   1672   0.598086

- Debatid entre vosotras qu칠 har칤ais con los valores nulos, 쯟os quitar칤ais o los reemplazar칤ais con un valor que nosotras decidiremos? Cread una celda de markdown en vuestro jupyter y escribid vuestras conclusiones.

Nuestras preguntas de investigaci칩n, est치n, por lo general enfocadas a diferencias en los ataques de tibur칩n en funci칩n de caracter칤sticas sociodemogr치ficas (edad, sexo, pa칤s...).  

Con relaci칩n a las caracter칤sticas sociodemogr치ficas, hay muy pocos nulos (sex tiene un 0.8%, menos de un 1% de los casos).

Tenemos, adem치s, dos preguntas sobre un an치lisis longitudinal ("쮺칩mo han evolucinado los ataques a lo largo del tiempo?") o diferencias en distintos periodos del a침o de los ataques de tibur칩n ("쮼n qu칠 mes ocurren m치s ataques?").

**En conclusi칩n:** Consideramos borrarlos ya que al ser una cantidad tan peque침a de nulos (10% en el mayor de los casos), la eliminaci칩n de estos casos no tiene por qu칠 afectar a la precisi칩n de los resultados.

- **En relaci칩n a los outliers**, ya hemos ido conociendo un poco nuestro dataframe y de momento solo tenemos una columna de tipo num칠rico, por lo tanto, poco podemos hacer. Un poco m치s adelante, cuando hayamos hecho una serie de cambios sobre nuestras columnas podremos hacer una evaluaci칩n m치s profunda de 칠stos.