In [63]:
import pandas as pd
import numpy as np

# Limpieza 1: Introducción

In [64]:
df = pd.read_csv('datos/EDA', index_col=0)
df.head(3)

,case_number,year,type,country,area,location,activity,name,age,time,species_,href,siglo,injury,month,fatal,sex
0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI,"No injury to occupant, outrigger canoe and pad...",Jun,N,F
1,2018.06.03.a,2018.0,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,18,Late afternoon,Tiger shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI,FATAL,Jun,Y,M
2,2018.05.26.b,2018.0,Unprovoked,USA,Florida,"Cocoa Beach, Brevard County",Walking,Cody High,15,17h00,"Bull shark, 6'",http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI,Lower left leg bitten,May,N,M

#### 1. Al empezar a trabajar con este dataframe ya eliminamos algunas columnas que a priori no nos interesaban. 

Ahora llega el momento de eliminar alguna columna más. En este caso tendréis que eliminar las columnas que no nos sean útiles para contestar a nuestras preguntas. 

Pero ojo ⚠️, haced una copia del dataframe para no "cargarnos" el dataframe original y perder la info.

In [65]:
df2 = df.copy()
df2.head(3)

,case_number,year,type,country,area,location,activity,name,age,time,species_,href,siglo,injury,month,fatal,sex
0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI,"No injury to occupant, outrigger canoe and pad...",Jun,N,F
1,2018.06.03.a,2018.0,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,18,Late afternoon,Tiger shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI,FATAL,Jun,Y,M
2,2018.05.26.b,2018.0,Unprovoked,USA,Florida,"Cocoa Beach, Brevard County",Walking,Cody High,15,17h00,"Bull shark, 6'",http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI,Lower left leg bitten,May,N,M

In [67]:
df2.rename(columns={'species_': 'species'}, inplace=True)
df2.columns

Index(['case_number', 'year', 'type', 'country', 'area', 'location',
       'activity', 'name', 'age', 'time', 'species', 'href', 'siglo', 'injury',
       'month', 'fatal', 'sex'],
      dtype='object')

Eliminamos las columnas que no son útiles para nuestro análisis:

In [68]:
#usamos: age, fatal, country, sex, month, species, year, date
#eliminar: time, href, siglo, month, injury, name, area, location, activity 
df2.drop(['time', 'href','siglo','month', 'injury','name', 'area', 'location', 'activity'],
        axis=1, inplace=True)

In [69]:
#comprobamos que se han eliminado corectamente:
df2.columns

Index(['case_number', 'year', 'type', 'country', 'age', 'species', 'fatal',
       'sex'],
      dtype='object')

#### 2. ¿Hay valores duplicados en nuestro dataframe? En caso de que los haya, eliminándlos.

In [80]:
print(f'Hay {df.duplicated().sum()} valores duplicados.')

Hay 0 valores duplicados.

#### 3. Como hemos visto, algunas columnas no tienen el tipo de datos que deberían. Cambiad el tipo de dato para la columna de year.

In [71]:
df2['year'] = df2['year'].astype('Int64', errors='ignore')
#comprobamos el cambio de tipo de dato:
df2['year'].dtype

Int64Dtype()

#### 4. En la columna de country poner todos los valores en minúsculas.
💡 Pista Tendréis que usar una función o una lambda 💡

In [72]:
#generamos la función
def minus (x):
    try:
        x = x.lower()
        return x
    except:
        pass

In [73]:
#aplicamos la función
df2['country'] = df2['country'].apply(minus)
df2.head(2)

    case_number  year        type country age      species fatal sex
0    2018.06.25  2018     Boating     usa  57  White shark     N   F
1  2018.06.03.a  2018  Unprovoked  brazil  18  Tiger shark     Y   M

#### 5. Guardamos el csv para seguir trabajando en el siguiente ejercicio de pair de limpieza.

In [79]:
df.to_csv('datos/Limpieza-1', index=False)