# Limpieza IV - Valores nulos

### Importamos las librer√≠as.

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import sidetable as stb

Es el momento de ponernos a trabajar con los valores nulos üí™üèΩ. A lo largo de este ejercicio de pair programming vamos a intentar eliminar los valores nulos de nuestras columnas. En la lecci√≥n hemos aprendido varios m√©todos, **nosotras os planteamos los ejercicios pero sentiros libres de usar el m√©todo que m√°s se adapte a vuestras necesidades**. Manos a la obra!

In [2]:
df = pd.read_csv('datos/Limpieza-3.csv', index_col=0)
df.head()

,year,type,country,activity,age,species,month,fatal,sex
0,2018,Boating,usa,Paddling,57.0,White Shark,Jun,N,F
1,2018,Unprovoked,brazil,Swimming,18.0,Tiger Shark,Jun,Y,M
2,2018,Unprovoked,usa,Walking,15.0,Bull Shark,May,N,M
3,2018,Provoked,australia,Feeding sharks,32.0,Grey Shark,May,N,M
4,2018,Invalid,england,Fishing,21.0,Unspecified,May,N,M

1. Lo primero que tenemos que evaluar es en que columnas tenemos nulos y que cantidad tenemos en cada una. ¬øHay alguna columna con una gran cantidad de nulos? En caso de que sea as√≠ deberemos eliminarla.

In [3]:
df.stb.missing()

          missing  total    percent
month         181   1672  10.825359
age           158   1672   9.449761
species       126   1672   7.535885
fatal          99   1672   5.921053
activity       31   1672   1.854067
sex            14   1672   0.837321
country        10   1672   0.598086
year            0   1672   0.000000
type            0   1672   0.000000

La columna con m√°s porcentaje de nulos es 'month' (10,82%), por lo que consideramos que no hay ninguna columna con una gran cantidad de nulos. As√≠ que decidimos no eliminar ninguna.

2. Es el momento de eliminar los nulos:

- Reemplazad los valores nulos de la columna age por la media de la edad, redondeada a dos decimales.

In [4]:
df['age'].fillna(df['age'].mean, inplace = True)

In [5]:
df['age'].isnull().sum()

0

In [6]:
df.head()

,year,type,country,activity,age,species,month,fatal,sex
0,2018,Boating,usa,Paddling,57.0,White Shark,Jun,N,F
1,2018,Unprovoked,brazil,Swimming,18.0,Tiger Shark,Jun,Y,M
2,2018,Unprovoked,usa,Walking,15.0,Bull Shark,May,N,M
3,2018,Provoked,australia,Feeding sharks,32.0,Grey Shark,May,N,M
4,2018,Invalid,england,Fishing,21.0,Unspecified,May,N,M

- En relaci√≥n a la columna de country al tratarse de una columna de tipo categ√≥rica, reemplazad los valores nulos por una nueva categ√≥ria que se llame Unknown.

In [7]:
df["country"].replace(np.nan, 'Unknown', inplace = True)

In [8]:
df['country'].isnull().sum()

0

In [9]:
df['country'].unique()

array(['usa', 'brazil', 'australia', 'england', 'costa rica', 'maldives',
       'south africa', 'cuba', 'spain', 'bahamas', 'indonesia', 'egypt',
       'new zealand', 'french polynesia', 'new caledonia', 'ecuador',
       'thailand', 'reunion', 'mexico', 'jamaica', 'italy',
       'papua new guinea', 'russia', 'seychelles', 'vietnam', 'guam',
       'mozambique', 'scotland', 'united kingdom', 'taiwan', 'croatia',
       'fiji', 'tonga', 'st. maartin', 'grand cayman', 'vanuatu',
       'venezuela', 'turks & caicos', 'okinawa', 'marshall islands',
       'mauritius', 'hong kong', 'japan', 'south korea', 'israel',
       'micronesia', 'columbia', 'new britain', 'palau',
       'solomon islands', 'federated states of micronesia', 'greece',
       'british west indies', 'north pacific ocean', 'bermuda',
       'philippines', 'american samoa', 'pacific ocean', 'senegal',
       'argentina', 'el salvador', 'iraq', 'panama', 'india', 'Unknown',
       'barbados', 'martinique', 'guinea', 'greenland', 'france',
       'mediterranean sea', 'sweden', 'iceland', 'roatan',
       'between portugal & india', 'canada', 'kenya', 'uruguay',
       'lebanon', 'sudan', 'djibouti', 'libya', 'sri lanka', 'bahrein',
       'korea', 'iran', 'red sea?', 'singapore', 'madagascar',
       'nicaragua', 'kiribati', 'saudi arabia', 'burma', 'belize',
       'asia?', 'ceylon (sri lanka)'], dtype=object)

- Reemplazad los valores nulos de la columna fatal por Unknown.

In [10]:
df["fatal"].replace(np.nan, 'Unknown', inplace = True)

In [11]:
df['fatal'].isnull().sum()

0

In [12]:
df['fatal'].unique()

array(['N', 'Y', 'Unknown'], dtype=object)

- Reemplazad los valores nulos de la columna type por el valor m√°s frecuente (la moda).

In [13]:
df['type'].fillna(df['type'].mode, inplace = True)

In [14]:
df['type'].isnull().sum()

0

- Remplazad los valores nulos de la columna fecha por Unknown.

In [15]:
df["month"].replace(np.nan, 'Unknown', inplace = True)

In [16]:
df['type'].isnull().sum()

0

In [17]:
df.head()

,year,type,country,activity,age,species,month,fatal,sex
0,2018,Boating,usa,Paddling,57.0,White Shark,Jun,N,F
1,2018,Unprovoked,brazil,Swimming,18.0,Tiger Shark,Jun,Y,M
2,2018,Unprovoked,usa,Walking,15.0,Bull Shark,May,N,M
3,2018,Provoked,australia,Feeding sharks,32.0,Grey Shark,May,N,M
4,2018,Invalid,england,Fishing,21.0,Unspecified,May,N,M

3. Guardad el csv para seguir trabajando con el en los siguientes ejercicios de pair.

In [ ]:
df.to_csv('datos/Limpieza-4.csv')